---
const projectTitle = Astro.props.projectTitle;
const projectDescription = Astro.props.projectDescription;
const projectLink = Astro.props.projectLink;
const image = Astro.props.image;
import ArrowLink from "@assets/icons/arrow-link.astro";
---

<div>
  <article
    style={{
      backgroundImage:
        "radial-gradient(circle, #6c6c6c1d 0%, transparent 100%)",
    }}
    class="border border-zinc-700 bg-zinc-900 bg-opacity-40 p-5 rounded-lg flex items-center justify-between gap-4 mb-5 shadow-xl"
  >
    <div class="min-w-0 flex-1">
      <a
        class="text-xl inline-flex items-center gap-2 hover:opacity-60 transition mb-2"
        target="_blank"
        href={projectLink}
      >
        <h3 class="text-lg font-semibold inline-block truncate">
          {projectTitle}
        </h3>
        <span class="text-zinc-400">
          <ArrowLink size="w-5 h-5" />
        </span>
      </a>

      <p class="text-zinc-400 text-sm leading-6 mb-3 line-clamp-3">
        {projectDescription}
      </p>

      <div class="flex items-center gap-3 flex-wrap">
        <slot />
      </div>
    </div>

    <!-- Contenedor fijo para que la imagen NO se salga -->

    <div
      class="w-32 h-32 md:w-40 md:h-40 mb-5 md:mb-0 md:ml-6 flex-shrink-0 self-end"
    >
      <img
        class="w-full h-full object-contain rounded-lg"
        src={image}
        alt={`${projectTitle} image`}
      />
    </div>
  </article>
</div>
